$organism: "header";

.#{$organism} {
  @include e("base") {
    @include absolute($top: 0, $left: $gutter * 3);
    @include flex($direction: row);

    width: calc(100% - (#{$gutter} * 6));
  }

  @include e("container", "carousel") {
    width: 100%;
  }

  @include e("container") {
    @include relative();
    @include flex($cross: normal);
  }
}
