$molecule: "navigation";

.#{$molecule} {
  @include e("base") {
    @include flex($main: space-between);

    width: 100%;
    margin-left: 0;

    body:not([data-js-page="front-page"]) & {
      max-width: 1600px;
    }

    .header__base & {
      @include absolute($z-index: navigation);
    }

    .uk-navbar-container:not(.uk-navbar-transparent) {
      background-color: transparent;
    }
  }

  @include e("toggle") {
    display: block;
    padding: ($gutter * 2) 0 ($gutter * 3);
    color: $c-davys-grey;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: all 0.3s;
    transition: background-color 0.3s ease-in;

    &::selection {
      background-color: transparent;
    }

    @include respond(min-tab-port) {
      display: none;
    }
  }

  @include e("toggle-line-1", "toggle-line-2", "toggle-line-3") {
    @include relative();

    display: block;
    width: 3rem;
    height: 3px;
    background-color: $c-davys-grey;
    border-radius: 15%;
    opacity: 100%;
    transition: all 0.3s;
  }

  @include e("toggle-line-2", "toggle-line-3") {
    margin-top: 8px;
  }

  @include e("toggle-line-1") {
    body.uk-offcanvas-container & {
      @include relative($top: 5px);

      opacity: 0%;
      transform: rotate(270deg);
    }
  }

  @include e("toggle-line-2") {
    body.uk-offcanvas-container & {
      transform: rotate(45deg);
    }
  }

  @include e("toggle-line-3") {
    body.uk-offcanvas-container & {
      @include relative($top: -10px);

      transform: rotate(-45deg);
    }
  }

  @include e("list") {
    display: none !important;

    @include respond(min-tab-port) {
      display: flex !important;
    }
  }

  @include e("item") {
    a {
      padding: 0 0 0 $gutter !important;

      &,
      &:link,
      &:visited,
      &:active,
      &:focus {
        font-size: 2.8rem;
        font-weight: 700;
        color: $c-white;
        text-decoration: none;
        text-transform: lowercase;

        body:not([data-js-page="front-page"]) & {
          color: $c-davys-grey;
        }
      }

      &:hover {
        body:not([data-js-page="front-page"]) & {
          color: $c-black;
        }
      }
    }

    &:not(:last-child) {
      a {
        padding-right: $gutter !important;
      }
    }
  }

  @include e("offcanvas-wrapper") {
    width: 50vw;
  }
}
