$organism: "main";

.#{$organism} {
  @include e("base") {
    @include flex($direction: column, $main: flex-start);

    body:not([data-js-page="front-page"]) & {
      max-width: 1600px;
      margin-top: 80px;
    }
  }
}
