$organism: "main";

.#{$organism} {
  @include e("base") {
    @include flex($direction: column, $main: flex-start);

    min-height: 100vh;

    body:not([data-js-page="front-page"]) & {
      padding: 0 ($gutter * 3);
      margin-top: 80px;
    }
  }
}
