/**
/* Make all elements from DOM inherit from parent box-sizing
/* Since `*` has a specificity of 0, it does not override the `html` value making all elements inheriting frm the root box-sizing value
*/

*,
*::before,
*::after {
  // Remove browser margin and padding
  margin: 0;
  padding: 0;
  // Change the box model so border and paddings are not added to the total width of the box container
  box-sizing: border-box;
}

/**
* Setup the box model on the root level
*/

html {
  box-sizing: border-box;
}