/*** The new CSS Reset - version 1.3.1 (last updated 28.10.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  // Remove browser margin and padding
  margin: 0;
  padding: 0;
  // Change the box model so border and paddings are not added to the total width of the box container
  box-sizing: border-box;
}

/**
* Setup the box model on the root level
*/

html {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

fieldset {
  padding: 0;
}

/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

::selection {
  background-color: $c-eerie-black;
  color: $c-cultured;
}
