/// COLORS
$c-white:                         #f5f5f5;
$c-white-10:                      rgba($c-white, 0.1);
$c-white-15:                      rgba($c-white, 0.15);
$c-white-40:                      rgba($c-white, 0.4);

$c-cultured:                      #eeeeee;
$c-battleship-grey:               #888888;
$c-grey:                            $c-battleship-grey;
$c-ebony:                         #525C52;
$c-dim-grey:                      #696969;
$c-davys-grey:                    #494949;
$c-eerie-black:                   #1f1f1f;
$c-rich-black-FOGRA-29:           #101d2c;
$c-black:                         rgb(15, 15, 15);

$c-black-30:                      rgba($c-black, 0.3);
$c-black-50:                      rgba($c-black, 0.5);

$c-rosy-brown:                    #bc8882;

$c-polished-pine:                 #3d9b93;

$c-alice-blue:                    #e1f1ff;
$c-baby-blue-eyes:                #9dd1ff;
$c-french-sky-blue:               #60a9ff;
$c-blue-jeans:                    #48aaff;
$c-dodger-blue:                   #348efe;
$c-blue-crayola:                  #016ff9;

$c-rhythm:                        #7c7b9c;

$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;

