$organism: "carousel";

.#{$organism} {
  @include e("base", "list", "item", "slide", "image") {
    width: 100%;
    height: 100%;
  }

  @include e("base") {
    height: 100vh;
  }

  @include e("image") {
    object-fit: cover;
  }

  @include e("control") {
    color: $c-white;

    &.uk-slidenav {
      &:hover {
        color: $c-white;
      }
    }

    svg {
      width: 30px;
      height: 30px;
    }

    polyline {
      stroke-width: 5px;
    }
  }
}
