$organism: "header";

.#{$organism} {
  @include e("base") {
    @include absolute($top: 0, $left: 0);

    width: 100vw;
  }

  @include e("container", "carousel") {
    width: 100%;
  }

  @include e("container") {
    @include relative();
  }
}
