@import "../../../abstracts/all.scss";

// molecules
@import "../../molecules/navigation/navigation.molecule.scss";

// organisms
@import "../../organisms/header/header.organism.scss";
@import "../../organisms/footer/footer.organism.scss";
