@import "../abstracts/all.scss";

// Import reset properties
@import "./reset/reset.scss";
@import './reset/font-size.scss';

// Import typography styles
@import './typography.scss';

// Import utility classes
@import './utilities.scss';

body {
  @include flex($direction: column);

  background-color: $c-cultured;
  padding: 0;
  overflow-x: hidden;
  position: relative;

  > * {
    width: 100%;
  }
}