$organism: "footer";

.#{$organism} {
  @include e("base") {
    @include flex($direction: column);

    border: transparent;

    @include m("is-visible") {
      padding-bottom: $gutter * 2;
    }
  }
}
