$helper: "spacer";

.#{$helper} {
  @include e("s") {
    height: $gutter * 2; // 2.8rem
  }

  @include e("m") {
    height: $gutter * 4; // 4.6rem
  }

  @include e("l") {
    height: $gutter * 6; // 7.4rem
  }
}
