$molecule: "navigation";

.#{$molecule} {
  @include e("base") {
    @include flex($main: space-between);

    width: 100%;
    margin-left: 0;
    background-color: rgba($c-black, .3);


    .header__base & {
      @include absolute($z-index: navigation);
    }

    .uk-navbar-container:not(.uk-navbar-transparent) {
      background-color: transparent;
    }
  }

  @include e("toggle") {
    @include flex();

    width: 80px;
    height: 80px;
    color: $c-white;

    @media (min-width: 768px) {
      display: none;
    }

    svg {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  @include e("list") {
    display: none !important;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  @include e("link") {
    &,
    &:link,
    &:visited {
      font-size: 2.4rem;
      color: $c-white;
      text-decoration: none;
    }

    &:hover {
      .#{$molecule}__base .#{$molecule}__list {
        color: $c-white;
      }
    }

    &:active,
    &:focus {
      color: $c-white;
    }
  }

  @include e("offcanvas-wrapper") {
    width: 50vw;
  }
}
