$molecule: "navigation";

.#{$molecule} {
  @include e("base") {
    @include flex($main: space-between);

    width: 100%;
    margin-left: 0;
    background-color: rgba($c-black, .3);


    .header__base & {
      @include absolute($z-index: navigation);
    }

    .uk-navbar-container:not(.uk-navbar-transparent) {
      background-color: transparent;
    }
  }

  @include e("toggle") {
    @include absolute($top: 3rem, $left: -8rem);

    display: block;
    padding: 2rem;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: all .3s;
    transition: background-color .3s ease-in;

    &:hover {
      background-color: rgba(255, 255, 255, 30%);
    }

    html:not([data-scroll="0"]) & {
      background-color: rgba(255, 255, 255, 20%);
    }

    @include respond(min-tab-port) {
      @include absolute($top: 3rem, $left: -12rem);
    }

    &::selection {
      background-color: transparent;
    }
  }

  @include e("list") {
    display: none !important;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  @include e("link") {
    &,
    &:link,
    &:visited {
      font-size: 2.4rem;
      color: $c-white;
      text-decoration: none;
    }

    &:hover {
      .#{$molecule}__base .#{$molecule}__list {
        color: $c-white;
      }
    }

    &:active,
    &:focus {
      color: $c-white;
    }
  }

  @include e("offcanvas-wrapper") {
    width: 50vw;
  }
}
