$moduleName: 'navigation';

.#{$moduleName} {
  @include e('base') {
    @include flex($main: space-between);

    width: 100%;
    background-color: rgba($c-black, 0.3);    
    margin-left: 0;

    .header__base & {
      @include absolute($z-index: navigation);
    }

    .uk-navbar-container:not(.uk-navbar-transparent) {
      background-color: transparent;
    }
  }

  @include e('toggle') {
    @include flex();
    color: $c-white;
    height: 80px;
    width: 80px;

    @media (min-width: 768px) {
      display: none;
    }

    svg {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }

  @include e('list') {
    display: none !important;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  @include e('link') {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: $c-white;
      font-size: 2.4rem;
    }

    &:hover {
      .#{$moduleName}__base .#{$moduleName}__list {
        color: $c-white;
      }
    }

    &:active,
    &:focus {
      color: $c-white;
    }
  }

  @include e('offcanvas-wrapper') {
    width: 50vw;
  }
}